@model BillsEntity.Models.BILHDR

<div class="card" style="width: 100%;">
    <div class="card-body" id="cardHead">
        <h3 class="card-title font-weight-bold">Update Bill</h3>
        <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="text-lg-left">Vendor: @Model.VNDCODNavigation?.VNDNAM</h3>
                        <p class="pull-left">Bill Price: @Model.BILPRC</p>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-lg-right">Bill @Model.BILCOD</h3>
                        <p class="pull-right">Bill date: @Model.BILDAT</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-md">
                        <table class="table" id="tableID">
                            <thead>
                                <tr>
                                    <th scope="col">Item Code</th>
                                    <th scope="col">Item price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.BILDTLs.Count > 0)
                                {
                                    foreach (var item in Model.BILDTLs)
                                    {
                                        <tr>
                                            <td scope="col">@item.ITMCOD</td>
                                            <td scope="col">@item.ITMPRC</td>
                                            <td scope="col">@item.ITMQTY</td>
                                            <td scope="col">@(item.ITMPRC * item.ITMQTY)</td>
                                            <td scope="col"><button class="btn btn-primary" onclick="EditItemRow(@item.ITMCOD)">Edit</button></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col-2">Total: @Model.BILPRC</div>
                    <div class="col"></div>
                </div>
                <button class="btn btn-success" type="submit" id="SaveBillUpdates">Save</button>
        </div>
    </div>
</div>